@model IEnumerable<Demo.MultiplosForms.Domain.Cliente>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobreNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">Nenhum cliente cadastrado</td>
        </tr>
    }

</table>